.workspace-header {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  gap: calc(var(--ui-gap) * 4);

  &-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--ui-gap);
    justify-content: center;
    color: #fff;
    overflow: hidden;

    &-name {
      font-size: 50px;
      font-weight: 800;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &-image {
    width: 225px;
    height: 225px;
    border-radius: var(--ui-radius);
    overflow: hidden;
    box-shadow: 0 0 10px #000;

    &-avatar {
      width: 100%;
      height: 100%;

      &:hover {
        &.favorite {
          & svg {
            animation: heartBump 1s;
          }
        }
      }

      &.favorite {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(135deg, #6a4deb, #a6bbde);

        & svg {
          width: 35%;
          height: 35%;
          fill: #fff;
          stroke: #fff;
        }
      }
    }
  }
}

.playlist-songs {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--ui-gap);
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background: #1212127c;
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px 10px 100px 10px;
}

.playlist-song {
  position: relative;
  width: 100%;
  $maxSizes: 48px;
  display: flex;
  align-items: center;
  color: #fff;
  height: 64px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: var(--ui-radius);
  transition: 0.3s;

  &:hover {
    & .playlist-song-info-creator {
      opacity: 1;
    }

    & .playlist-song-cell.menu {
      opacity: 1;
    }

    background: #ffffff17;
  }

  &:active,
  &.active {
    background: #ffffff5d;
  }

  &-cell {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;

    &.index {
      width: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.song {
      width: 100vh;
    }

    &.favorite-add {
      position: absolute;
      right: 60px;
      width: 5vh;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        width: 50%;
        height: 50%;
        fill: transparent;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;

        &.active {
          color: var(--brand-color);
          fill: var(--brand-color);
        }
      }
    }
    &.menu {
      position: absolute;
      right: 20px;
      width: 5vh;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0;
      transition: 0.3s;

      &:hover {
        & .song-menu {
          display: flex;
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }

      & .song-menu {
        display: none;
        position: absolute;
        top: 70%;
        right: -50%;
        width: 250px;
        height: auto;
        min-height: 0;
        box-sizing: border-box;
        background: #121212;
        align-items: center;
        flex-direction: column;
        gap: var(--ui-gap);
        border-radius: 16px;
        z-index: 2;

        &-options {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          list-style: none;
          padding: 2px;
        }

        &-option {
          position: relative;
          width: 80%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 5px;

          &:hover {
            background: #ffffff2a;
          }

          &.add {
            &:hover {
              & .playlists-list-options {
                display: flex;
              }
            }
          }

          & .playlists-list {
            &-options {
              width: 100px;
              display: none;
              position: absolute;
              height: auto;
              min-height: 0;
              top: 0;
              padding: 10px;
              left: -60%;
              background: #121212;
              list-style: none;
              margin: 0;
              gap: calc(var(--ui-gap) * 1.5);
              flex-direction: column;
              align-items: center;
              border-radius: 16px;
              overflow: hidden;
            }

            &-option {
              width: 90%;
              height: 20px;
              display: flex;
              align-items: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              border-radius: 2px;
              padding: 10px;
              box-sizing: border-box;
              transition: 0.3s;

              &:hover {
                background: #ffffff2a;
              }
            }
          }
        }
      }
    }
  }

  &-index {
    opacity: 0.5;
  }

  &-wrapper {
    width: 100%;
    height: $maxSizes;
    display: flex;
    align-items: center;

    &-main {
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--ui-gap);
      overflow: hidden;

      &-playing {
        width: 17px;
        height: 17px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &.active .playlist-song-wrapper-main-playing-element {
          animation: musicPlaying 1s infinite forwards;
        }

        &-element {
          display: flex;
          height: 100%;
          width: 2px;
          background: var(--brand-color);
          transition: 0.3s;
          animation: musicPlaying 1s infinite forwards;
        }

        @for $i from 1 through 4 {
          & .playlist-song-wrapper-main-playing-element:nth-child(#{$i}) {
            animation-delay: #{$i * 0.15}s;
          }
        }
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    padding: 2px 0;
    box-sizing: border-box;
    overflow: hidden;

    & p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &-creator {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  &-image {
    position: relative;
    width: $maxSizes;
    height: $maxSizes;
    cursor: pointer;
    border-radius: var(--ui-radius);
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      border-radius: 0;
      & .playlist-song-image-play {
        opacity: 1;
      }
    }

    & img {
      width: 100%;
      height: 100%;
    }

    &-play {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: #0000002f;
      transition: 0.3s;

      & svg {
        position: absolute;
        width: 40%;
        height: 40%;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@keyframes musicPlaying {
  0% {
    height: 100%;
  }

  50% {
    height: 10%;
  }

  100% {
    height: 100%;
  }
}
