<div (click)="changeShowState($event)" class="create-popout-wrapper">
  <div class="create-popout">
    <form class="form-container" [formGroup]="newForm">
      <div class="create-popout-image" (click)="openInput()">
        <input
          #avatarInput
          type="file"
          formControlName="image"
          (change)="readURL($event.target)"
        />
        <div class="create-popout-image-overlay">
          <svg viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M17.318 1.975a3.329 3.329 0 1 1 4.707 4.707L8.451 20.256c-.49.49-1.082.867-1.735 1.103L2.34 22.94a1 1 0 0 1-1.28-1.28l1.581-4.376a4.726 4.726 0 0 1 1.103-1.735L17.318 1.975zm3.293 1.414a1.329 1.329 0 0 0-1.88 0L5.159 16.963c-.283.283-.5.624-.636 1l-.857 2.372 2.371-.857a2.726 2.726 0 0 0 1.001-.636L20.611 5.268a1.329 1.329 0 0 0 0-1.879z"
            ></path>
          </svg>

          <p>Choose photo</p>
        </div>
        <img [src]="imageSrc" />
      </div>
      <div class="create-popout-inputs">
        <div class="create-popout-inputs-wrapper" appOnFocus>
          <label class="create-popout-inputs-label" for="description"
            >Name</label
          >
          <input
            type="text"
            formControlName="name"
            class="create-popout-inputs-input"
            placeholder="Playlist name"
          />

          @if (!newForm.controls.name.valid && newForm.controls.name.touched) {
          <p class="error">This field is required!</p>
          }
        </div>

        <div class="create-popout-inputs-wrapper" appOnFocus>
          <label class="create-popout-inputs-label" for="description"
            >Description</label
          >
          <textarea
            id="description"
            type="text"
            formControlName="description"
            class="create-popout-inputs-input create-popout-inputs-textarea"
            placeholder="Description (optional)"
          ></textarea>
        </div>
      </div>
    </form>
    <button (click)="onSubmit()" class="create-popout-button">Save</button>
  </div>
</div>
