<li class="playlist" [routerLink]="[url]" routerLinkActive="active">
  @if (isFavorite) {
  <div class="favorites avatar">
    <svg
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="w-8 h-8 transform scale-95"
    >
      <path
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
      ></path>
    </svg>
  </div>
  <div class="playlist-info">
    <p class="playlist-info-name favorite">Favorite songs</p>
    <p class="playlist-info-description">Playlist | KAKTyC</p>
  </div>
  } @else {
  <img class="avatar" [src]="image" />
  <div class="playlist-info">
    <p class="playlist-info-name">???</p>
    <p class="playlist-info-description">Playlist | KAKTyC</p>
  </div>
  }
</li>
