@import "../../media-lib.component.scss";

.playlist {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--ui-radius);
  padding: 0 8px;
  box-sizing: border-box;
  gap: var(--ui-gap);
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #ffffff34;
    & .favorites {
      & svg {
        animation: heartBump 1s;
      }
    }
  }

  &.active,
  &:active {
    background: #ffffff15;
  }

  & .avatar {
    width: $maxSizes;
    height: $maxSizes;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--ui-radius);

    &.favorites {
      background: linear-gradient(135deg, #6a4deb, #a6bbde);

      & svg {
        width: 35%;
        height: 35%;
        fill: #fff;
        stroke: #fff;
      }
    }
  }

  & .playlist {
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: #fff;
      height: $maxSizes;

      & p {
        margin: 0;
      }

      &-name.favorite {
        color: var(--brand-color);
      }

      &-description {
        opacity: 0.5;
      }
    }
  }
}
