@keyframes heartBump {
  0% {
    scale: 100%;
  }

  50% {
    scale: 60%;
  }

  70% {
    scale: 100%;
  }

  80% {
    scale: 60%;
  }

  100% {
    scale: 100%;
  }
}

@keyframes musicPlaying {
  0% {
    height: 100%;
  }

  50% {
    height: 10%;
  }

  100% {
    height: 100%;
  }
}

.workspace {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, var(--first-color, #121212), #121212 85%);
  border-radius: var(--ui-radius);
  overflow: hidden;

  &-header {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    gap: calc(var(--ui-gap) * 4);

    &-info {
      display: flex;
      flex-direction: column;
      gap: var(--ui-gap);
      justify-content: center;
      color: #fff;

      &-name {
        font-size: 50px;
        font-weight: 800;
      }
    }

    &-image {
      width: 225px;
      height: 225px;
      border-radius: var(--ui-radius);
      overflow: hidden;
      box-shadow: 0 0 10px #000;

      &-avatar {
        width: 100%;
        height: 100%;

        &:hover {
          &.favorite {
            & svg {
              animation: heartBump 1s;
            }
          }
        }

        &.favorite {
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(135deg, #6a4deb, #a6bbde);

          & svg {
            width: 35%;
            height: 35%;
            fill: #fff;
            stroke: #fff;
          }
        }
      }
    }
  }
}

.search-input-container {
  position: relative;
  max-width: 300px;
  height: 48px;

  & svg {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }
}

.search-head-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--ui-gap) * 3);
  padding: 50px;
  box-sizing: border-box;
}

.search-input {
  width: 100%;
  background-color: #242424;
  border: 0;
  border-radius: 200px;
  color: #fff !important;
  height: 100%;
  padding: 6px 36px;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.search-items-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--ui-gap) * 3);
  padding: 0;

  &-category {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
  }
}

.playlist-songs {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  gap: var(--ui-gap);
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background: #1212127c;
  backdrop-filter: blur(5px);
}

.search-songs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.playlist-song {
  $maxSizes: 48px;
  display: flex;
  align-items: center;
  color: #fff;
  height: 64px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: var(--ui-radius);
  transition: 0.3s;

  &:hover {
    & .playlist-song-info-creator {
      opacity: 1;
    }

    background: #ffffff17;
  }

  &:active,
  &.active {
    background: #ffffff5d;
  }

  &-cell {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;

    &.index {
      width: 5vh;
    }

    &.song {
      width: 100vh;
    }

    &.playing {
      justify-content: flex-end;
    }
  }

  &-index {
    opacity: 0.5;
  }

  &-wrapper {
    width: 100%;
    height: $maxSizes;
    display: flex;
    align-items: center;

    &-main {
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--ui-gap);
      overflow: hidden;

      &-playing {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &.active .playlist-song-wrapper-main-playing-element {
          animation: musicPlaying 1s infinite forwards;
        }

        &-element {
          display: flex;
          height: 100%;
          width: 2px;
          background: var(--brand-color);
          transition: 0.3s;
          animation: musicPlaying 1s infinite forwards;
        }

        @for $i from 1 through 5 {
          & .playlist-song-wrapper-main-playing-element:nth-child(#{$i}) {
            animation-delay: #{$i * 0.15}s;
          }
        }
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    padding: 2px 0;
    box-sizing: border-box;
    overflow: hidden;

    & p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &-creator {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  &-image {
    position: relative;
    width: $maxSizes;
    height: $maxSizes;
    cursor: pointer;
    border-radius: var(--ui-radius);
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      border-radius: 0;
      & .playlist-song-image-play {
        opacity: 1;
      }
    }

    & img {
      width: 100%;
      height: 100%;
    }

    &-play {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: #0000002f;
      transition: 0.3s;

      & svg {
        position: absolute;
        width: 40%;
        height: 40%;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.search-song {
  $maxSizes: 100px;
  width: 100px;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 20px;
  border-radius: var(--ui-radius);
  overflow: hidden;

  &:hover {
    & .search-song-info-creator {
      opacity: 1;
    }

    background: #ffffff17;
  }

  &:active,
  &.active {
    background: #ffffff5d;
  }

  &-wrapper {
    width: 100%;
    height: $maxSizes;
    display: flex;
    align-items: center;

    &-main {
      width: 100%;
      display: flex;
      gap: var(--ui-gap);
      flex-direction: column;
      overflow: hidden;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 2px 0;
    box-sizing: border-box;
    overflow: hidden;

    & p {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &-creator {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  &-image {
    position: relative;
    width: $maxSizes;
    height: $maxSizes;
    cursor: pointer;
    border-radius: var(--ui-radius);
    overflow: hidden;
    transition: 0.3s;

    &:hover {
      border-radius: 0;
      & .search-song-image-play {
        opacity: 1;
      }
    }

    & img {
      width: 100%;
      height: 100%;
    }

    &-play {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: #0000002f;
      transition: 0.3s;

      & svg {
        position: absolute;
        width: 40%;
        height: 40%;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
