#workspace {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, var(--first-color, #121212), #121212 85%);
  border-radius: var(--ui-radius);
  overflow: hidden;
}
