<div class="workspace">
  <ul class="playlist-songs">
    @if (playlist$ | async; as playlist) { @for (song of playlist.songs; track
    song.id) {
    <li class="playlist-song">
      <div class="playlist-song-wrapper">
        <div class="playlist-song-wrapper-main">
          <div class="playlist-song-image" (click)="songService.playSong(song)">
            <img [src]="song.image" />
            <div class="playlist-song-image-play">
              <ng-container
                *ngIf="
                  currentSong$ | async as currentSong;
                  else defaultPlayIcon
                "
              >
                <ng-container
                  *ngIf="currentSong.id === song.id; else notCurrentSongIcon"
                >
                  <ng-container *ngIf="currentSong.isPaused; else playingIcon">
                    <!-- Paused Icon SVG -->
                    <svg
                      role="img"
                      aria-hidden="true"
                      viewBox="0 0 16 16"
                      fill="currentColor"
                    >
                      <path
                        d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"
                      ></path>
                    </svg>
                  </ng-container>
                  <ng-template #playingIcon>
                    <!-- Playing Icon SVG -->
                    <svg
                      role="img"
                      aria-hidden="true"
                      viewBox="0 0 16 16"
                      fill="currentColor"
                    >
                      <path
                        d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"
                      ></path>
                    </svg>
                  </ng-template>
                </ng-container>
                <ng-template #notCurrentSongIcon>
                  <!-- Default Play Icon SVG for songs not currently playing -->
                  <svg
                    role="img"
                    aria-hidden="true"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                  >
                    <path
                      d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"
                    ></path>
                  </svg>
                </ng-template>
              </ng-container>
              <ng-template #defaultPlayIcon>
                <!-- Default Play Icon SVG for when there's no current song -->
                <svg
                  role="img"
                  aria-hidden="true"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                >
                  <path
                    d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"
                  ></path>
                </svg>
              </ng-template>
            </div>
          </div>
          <div class="playlist-song-info">
            <p>{{ song.name }}</p>
            <p class="playlist-song-info-creator">{{ song.creator }}</p>
          </div>
        </div>
      </div>
    </li>
    } }
  </ul>

  @if (currentSong$ | async; as currentSong) {
  <div class="player">
    <div class="player-main">
      <img [src]="currentSong.image" />{{ currentSong.name }}
    </div>

    <div class="player-buttons">
      <button (click)="songService.pauseSong()" class="player-buttons-play">
        @if (currentSong.isPaused) {
        <svg role="img" aria-hidden="true" viewBox="0 0 16 16">
          <path
            d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"
          ></path>
        </svg>
        } @else {
        <svg role="img" aria-hidden="true" viewBox="0 0 16 16">
          <path
            d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"
          ></path>
        </svg>
        }
      </button>
    </div>
  </div>
  }
</div>
