<div class="media-lib">
  <div class="media-lib-media-wrapper">
    <div class="media-lib-media-wrapper-text">
      <svg viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M3 22a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v18a1 1 0 0 1-1 1zM15.5 2.134A1 1 0 0 0 14 3v18a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V6.464a1 1 0 0 0-.5-.866l-6-3.464zM9 2a1 1 0 0 0-1 1v18a1 1 0 1 0 2 0V3a1 1 0 0 0-1-1z"
        ></path>
      </svg>
      <p>My media-lib</p>
    </div>

    <div class="media-lib-media-wrapper-buttons">
      <button
        class="media-lib-media-wrapper-button"
        (click)="createPlaylist = true"
      >
        <svg viewBox="0 0 16 16">
          <path
            fill="currentColor"
            d="M15.25 8a.75.75 0 0 1-.75.75H8.75v5.75a.75.75 0 0 1-1.5 0V8.75H1.5a.75.75 0 0 1 0-1.5h5.75V1.5a.75.75 0 0 1 1.5 0v5.75h5.75a.75.75 0 0 1 .75.75z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <ul>
    <app-playlist url="/collection/songs" [isFavorite]="true" />
    @if (playlists$ | async; as playlists) { @for (playlist of playlists; track
    playlist.id) {
    <app-playlist [url]="'/playlist/' + playlist.id" [playlist]="playlist" />
    } }
  </ul>
</div>

@if (createPlaylist) {
<app-create-popout [(playlists)]="playlists$" [(showState)]="createPlaylist" />
}
