:root {
  --ui-radius: 8px;
  --ui-gap: 10px;
  --brand-color: #1ed760;
  --error-color: #fca9a9;
}

* {
  font-family: sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

p {
  margin: 0;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--ui-gap);
  padding: var(--ui-gap);
  box-sizing: border-box;
}

.error {
  margin-top: 5px;
  color: var(--error-color);
  font-size: 12px;
}

@keyframes heartBump {
  0% {
    scale: 100%;
  }

  50% {
    scale: 60%;
  }

  70% {
    scale: 100%;
  }

  80% {
    scale: 60%;
  }

  100% {
    scale: 100%;
  }
}
