@if (routerService.compareUrls("search")) {
<div class="search-head-container">
  <div class="search-input-container">
    <input
      class="search-input"
      placeholder="Search"
      [(ngModel)]="searchRequest"
    />

    <svg
      data-encore-id="icon"
      role="img"
      aria-hidden="true"
      viewBox="0 0 16 16"
      fill="currentColor"
    >
      <path
        d="M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z"
      ></path>
    </svg>
  </div>
  <div class="search-items-wrapper">
    <p class="search-items-wrapper-category">Tracks</p>
    @if (songs$ | async; as songs) {
    <ul class="search-songs">
      @for (song of songs | appFilter:searchRequest; track song.id; let i =
      $index) {
      <li
        class="search-song"
        [ngClass]="{ active: songService.isCurrentSong(song) }"
      >
        <div class="search-song-wrapper">
          <div class="search-song-wrapper-main">
            <div class="search-song-image" (click)="songService.playSong(song)">
              <img [src]="song.image" />
              <div class="search-song-image-play">
                <ng-container
                  *ngIf="
                    currentSong$ | async as currentSong;
                    else defaultPlayIcon
                  "
                >
                  <ng-container
                    *ngIf="
                      songService.isCurrentSong(song);
                      else notCurrentSongIcon
                    "
                  >
                    <ng-container
                      *ngIf="
                        songService.isCurrentSongPaused();
                        else playingIcon
                      "
                    >
                      <!-- Paused Icon SVG -->
                      <svg
                        role="img"
                        aria-hidden="true"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                      >
                        <path
                          d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"
                        ></path>
                      </svg>
                    </ng-container>
                    <ng-template #playingIcon>
                      <!-- Playing Icon SVG -->
                      <svg
                        role="img"
                        aria-hidden="true"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                      >
                        <path
                          d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"
                        ></path>
                      </svg>
                    </ng-template>
                  </ng-container>
                  <ng-template #notCurrentSongIcon>
                    <!-- Default Play Icon SVG for songs not currently playing -->
                    <svg
                      role="img"
                      aria-hidden="true"
                      viewBox="0 0 16 16"
                      fill="currentColor"
                    >
                      <path
                        d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"
                      ></path>
                    </svg>
                  </ng-template>
                </ng-container>
                <ng-template #defaultPlayIcon>
                  <!-- Default Play Icon SVG for when there's no current song -->
                  <svg
                    role="img"
                    aria-hidden="true"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                  >
                    <path
                      d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"
                    ></path>
                  </svg>
                </ng-template>
              </div>
            </div>
            <div class="search-song-info">
              <p>{{ song.name }}</p>
              <p class="search-song-info-creator">{{ song.creator }}</p>
            </div>
          </div>
        </div>
        <div class="search-song-favorite-add">
          <svg
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
            (click)="favoritesService.toggleSongFavorites($event, song)"
            [ngClass]="{
              active: favoritesService.favoriteStatuses[song.id]
            }"
          >
            <path
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
            ></path>
          </svg>
        </div>
      </li>
      } @empty {
      <p class="search-nothing-result">
        No tracks were found for your request :(
      </p>
      }
    </ul>

    }
  </div>

  <div class="search-items-wrapper">
    <p class="search-items-wrapper-category">Playlists</p>
    @if (playlists$ | async; as playlists) {
    <ul class="search-songs">
      @for (playlist of playlists | appFilter:searchRequest; track playlist.id;
      let i = $index) {
      <li class="search-song">
        <div class="search-song-wrapper">
          <div class="search-song-wrapper-main">
            <div
              class="search-song-image"
              (click)="songService.playSong(playlist.songs[0])"
            >
              <img [src]="playlist.image" />
            </div>
            <div class="search-song-info">
              <p
                (click)="routerService.navigateTo(['playlist/' + playlist.id])"
              >
                {{ playlist.name }}
              </p>
              <p class="search-song-info-creator">{{ playlist.user }}</p>
            </div>
          </div>
        </div>
      </li>
      } @empty {
      <p class="search-nothing-result">
        No playlists were found for your request :(
      </p>
      }
    </ul>
    }
  </div>
</div>
}
